<div class="row w-50 mx-auto m-5">
  <div class="col-sm-12 mx-auto">

<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="form-group">
    <%= f.label :email,"Email address"  %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" , class: "form-control", placeholder:"Enter email"%>
  </div>

  <div class="form-group">
    <%= f.label :password , "Password"%>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" ,class: "form-control", placeholder:"Password"%>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation , "Password confirmation"%><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" ,class: "form-control", placeholder:"Password Confirm"%>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>


</div>
</div>

