
<%@article.comments.each do |comment|%>
<%if  comment.public?%>
    <div class="media mb-4">
          <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
          <div class="media-body">
            <h5 class="mt-0"><%=comment.commenter%></h5>
            <%=comment.body%>
            <%= link_to "DeleteComment", [comment.article,comment],method: :delete,data:{confirm:"Are You Sure?"} %>
            </div>
      </div>
<%end%>
<%end%>
