<%=form_with model:[@article,@article.comments.build] do |form|%>
<div class="card my-4">
          <h5 class="card-header">Leave a Comment:</h5>
          <div class="card-body">
            <form>
              <div class="form-group">
                <%=form.text_area :body,class: "form-control", size: "90x5"  %>
              </div>
              <%= form.label :status, "Status" %><br>
              <%= form.select :status,['public','private','archived'], class: "custom-select mr-sm-2" ,selected:'public' %>
              <br><br>
              <%=form.submit%>
            </form>
          </div>
</div>
<%end%>

