 <!-- Page Content -->
  <div class="container">

    <div class="row">

      <!-- Blog Entries Column -->
      <div class="col-md-8">

        <h1 class="my-4">Welcome To
          <small>Drunk Blogger</small>
        </h1>
        <%= form_tag(root_path, :method => "get") do %>
          <%= select_tag(:status, options_for_select(['public','private','archived'],@status)) %>
          <%= submit_tag("Search") %>
        <% end %>
        Our blog has <%=Article.public_count%> articles and counting!

        <!-- Blog Post -->
        <%@articles.each do |article|%>
        <div class="card mb-4">
          <img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap">
          <div class="card-body">
            <h2 class="card-title"><%=article.title%></h2>
            <p class="card-text"><%=truncate(article.body, length:200)%></p>
            <%= link_to "Read More..", article, class: "btn btn-primary" %>
          </div>
          <div class="card-footer text-muted">
          <%=article.created_at.strftime('%B %e at %l:%M %p')%> by
            <a href="#"><%=User.find(article.user_id).email%></a>
          </div>
        </div>
    <%end%>

        
        <!-- Pagination -->
        <%= will_paginate @articles %>
      </div>

      <!-- Sidebar Widgets Column -->
      <%=render "shared/aside"%>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2020</p>
    </div>
    <!-- /.container -->
  </footer>



    