<!-- Page Content -->
  <div class="container">

    <div class="row">

      <!-- Post Content Column -->
      <div class="col-md-8">

        <!-- Title -->
        <h1 class="mt-4"><%= @article.title%></h1>

        <!-- Author -->
        <p class="lead">
          by
          <a href="#"><%=User.find(@article.user_id).email %></a>
        </p>

        <% if can? :update, @article %><%= link_to "Edit article", edit_article_path(@article) %> | <%end%>
            <% if can? :update, @article %><%= link_to "Delete", article_path(@article),method: :delete,data:{confirm:"Are you sure?"} %><%end%>

        <hr>

        <!-- Date/Time -->
        <p><%=@article.created_at.strftime('%B %e at %l:%M %p')%></p>

        <hr>

        <!-- Preview Image -->
        <img class="img-fluid rounded" src="http://placehold.it/900x300" alt="">

        <hr>

        <!-- Post Content -->
        <p class="lead text-justify"><%= @article.body %></p>
        <hr>

        <!-- Comments Form -->
        <%= render "comments/form" %>
        
        <!-- Single Comment -->
        <%= render "comments/comment" %>
      
      </div>

      <!-- Sidebar Widgets Column -->

        <%=render "shared/aside"%> 


    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

<footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2020</p>
    </div>
    <!-- /.container -->
  </footer>

