
<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">User_Id</th>
      <th scope="col">Email</th>
      <th scope="col">Admin</th>
      <th scope="col">Admin_Role</th>
    </tr>
  </thead>
  <tbody>
    <% @user.each do |user|%>
    <tr>
      <th scope="row"><%=user.id%></th>
      <td><%=user.email%></td>
      <td><%=user.has_role?(:admin)%></td>
      <td>
      <%if user.has_role?(:admin)%>
        <%= link_to "Remove Admin", edit_role_manager_path(user)%>
        <%else%>
        <%= link_to "Make Admin ", edit_role_manager_path(user)%>
        <%end%>  
    </td>

    </tr>
    <%end%>
    
  </tbody>
</table>
