<div class="row w-50 mx-auto m-5">
  <div class="col-sm-12 mx-auto">
<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-group">
    <%= f.label :email,"Email address" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder:"Enter email" %>
  </div>

  <div class="form-group">
    <%= f.label :password, "Password" %><br />
    <%= f.password_field :password, autocomplete: "current-password" ,class: "form-control", placeholder:"Password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>
</div>
