 <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <%= link_to "Drunk Blogger", root_path ,class:"navbar-brand"%>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <%= link_to "Home", root_path ,class:"nav-link active"%>
          </li>
          <li class="nav-item">
            <%= link_to "New_Article", new_article_path ,class: "nav-link" %>
          </li>
          <li class="nav-item">
          <% if current_user && current_user.has_role?(:admin) %>
                <%= link_to "Manage Users", role_managers_index_path,   class:"nav-link" %>
          <%end%>
          </li>
          <li class="nav-item">
            <% if user_signed_in? %>
                <%= link_to "Sign Out", destroy_user_session_path ,method: :delete ,class:"nav-link"%>
                <%else%>
                <%= link_to "Sign In", new_user_session_path,   class:"nav-link" %>
            <%end%>
          </li>
        </ul>
      </div>
    </div>
  </nav>
